body {
    background-color: chocolate;
    color: floralwhite;
    text-align: center;
}

#Title {
   font-size: 50px;
}

#CoverArt {
    width: 350px;
    height: 450px;
    border-radius: 50%;
}

#Rating {
    font-size: 200%;
    text-decoration: underline;
}

#IMDb {
    font-size: 150%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#Summary {
    max-width: 600px;
    margin: 0 auto;
}

#Cast {
    margin-bottom: 0.25rem;
    font-size: 150%;
    text-decoration: underline;
}

#Actors {
    margin-top: 0;
    padding: 0px;
}